body{
	margin: 0;
	padding: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#All{
	width: 1000px;
	height: auto;
	margin: 0 auto 0 auto;
}
#Header{
	width: 1000px;
	height: 80px;
	position: fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Social{
	height: 30px;
	background: #1d4c82;
}
#Social ul{
	list-style: none;
	margin: 0;
}
#Social ul li{
	float: right;
	padding-top: 5px; 
	margin-right: 5px;
}
#Social ul li a img{
	height: 30px;
}
#menu{
	height: 50px;
	background: #1d4c82;
}
#Logo{
	width: 385px;
	height: 50px;
	background: #1d4c82;
	float: left;
}
#menu #Logo a img{
	height: 50px;
}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 14px;
}
#menu ul li{
	font-size: 15px;
	float: left;
	margin-right: 40px;
}
#menu ul li a{
	text-decoration: none;
	color: white;
}
#menu ul li a:hover{
	transition: 0.2s;
	color: #ffb600;
}
.content{
	height: 1165px;
}
.content .Header{
	height: 100px;
}
.content-main{
	height: 490px;
	text-align: center;
}
.content-main img{
	text-align: center;
	width: 800px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Box{
	width: 1000px;
	height: 430px;
	background: #ffb600;
	margin: 0 auto;
	padding-top: 75px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
}
#Trong1{
	width: 600px;
	height: 166px;
	margin: 0 auto;
}
#Trong2{
	width: 432px;
	height: 166px;
	margin: 0 auto;
}
.A{
	width: 166px;
	height: 166px;
	background: white;
	margin-left: 25px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
}
.A h1{
	font-size: 25px;
	margin-top: 60px;
}
.A2{
	width: 166px;
	height: 166px;
	background: white;
	margin-left: 25px;
	margin-top: 25px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
}
.A2 h1{
	font-size: 25px;
	margin-top: 60px;
}
.content-main #Gui-mail{
	width: 1000px;
	height: 200px;
	margin-top: 15px;
}
.content-main #Gui-mail h1{
	font-size: 20px; 
}
.footer{
	height: 95px;
	background: #1d4c82;
}
.footer>p{
	color: white;
	text-align: center;
	font-size: 12px;
}
.footer>.ft-menu{
	height: 30px;
}
.footer>.ft-menu>ul{
	color: white;
	margin:0;
	padding-top: 10px;
	list-style: none;
	margin-left: 164px;
}
.footer>.ft-menu>ul>li>a{
	margin-right: 50px;
	text-decoration: none;
	color: white;
	float: left;
}
.footer>.ft-menu>ul>li>a:hover{
	transition: 0.2s;
	color: #ffb600;
}
#Social-Footer{
	height: 28px;
	background: #1d4c82;
}
#Social-Footer ul{
	list-style: none;
	margin: 0;
	padding-right: 455px;
	padding-top: 6px;
}
#Social-Footer ul li{
	float: right;
	margin-right: 5px;
}
#Social-Footer ul li a img{
	height: 25px;
}